body{
	margin: 0;
	padding: 0;
}
#welcome.hidden{
	display: none;
}
.watermark{
	position: fixed;
	width: 100px;
	height: 48px;
	top: 32px;
	left: 20px;
	background: white;
	color: grey;
}
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 20px;
	background: #333;
	text-align: center;
}
.footer > *{
	font-size: 14px;
	font-family: sans-serif;
	letter-spacing: 1.5px;
	font-weight: 550;
	color: #fff;
}
#welcome{
	position: fixed;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
}
.pre-screen{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, #642b73, #c6426e);
	overflow: hidden;
}
.join-create-section{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 400px;
	background: rgba(180, 180, 180, 0.2);
	border-radius: 15px;
	overflow: hidden;
	border: 2px solid #ddd;
	color: #fff;
}
.btn,input{
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	outline: none;
	border: none;
	background: transparent;
}
.btn{
	margin-top: 20px;
	padding: 10px 30px;
	color: #fff;
	border-radius: 7px;
	border: 2px solid #44ae33;
	text-transform: uppercase;
	font-size: 14px;
}
input, input::placeholder{
	text-align: center;
	width: calc(100% - 30px);
	padding: 15px 10px;
	box-sizing: border-box;
	padding-bottom: 5px;
	cursor: text;
	border-bottom: 2px solid #44ae33;
	color: #fff;
}
#meeting-output{
	font-weight: bold;
	letter-spacing: 1px;
	font-family: monospace;
	font-size: 14px;
	text-align: center;
	padding: 5px 2px;
	margin: 5px 2px;
	padding-right: 35px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;
}
.icon-copy{
	background: white;
	color: black;
	border: 1px solid black;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 10px;
}
.tab-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.tab{
	text-align: center;
	padding: 10px 5px;
	flex-grow: 1;
	border-bottom: 1px solid #aaac;
	cursor: pointer;
	border-top: 5px solid #5ea0;
	transition: all .5s;
}
.tab.active{
	border-top-color: #5eaf;
	background: #ffffff55;
}
.join-meeting, .start-meeting{
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	text-align: center;
	margin-top: 30px;
	position: relative;
	width: 100%;
	height: 0;
	box-sizing: border-box;
	opacity: 0;
	transform: translateY(60px);
	transition-property: opacity, transform;
	transition-duration: .6s;
}
.join-meeting.active, .start-meeting.active{
    opacity: 1;
    height: auto;
    transform: translateY(0px);
}
.loading{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #321;
	z-index: 5;
	text-align: center;
	font-size: 18px;
	color: white;
}
.loading.hidden{
	display: none;
}
